{% extends "mailings/base.html" %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите удалить рассылку №{{ object.pk }}?</p>
                        <button type="submit" class="btn btn-success">Подтвердить</button>
                        <a href="{% url 'mailings:distribution_list' %}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}